@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --stroke: rgba(0, 0, 0, 0.1);
  --off-white: ##FAFAFA;
  --black: #000000;
  --green: #00703A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #121212;
    --stroke: #rgba(255, 255, 255, 0.1);
    --off-white: #1E1E1E;
    --black: #E0E0E0;
    --green: #29A745;
  }
}

body {
  @apply font-sfProText text-black bg-off-white text-body
}

h1{
@apply text-h1
}

.primary-cta{
  @apply flex w-full justify-center bg-green text-cta text-white font-bold px-12 py-20 border border-stroke rounded
}

.secondary-cta{
  @apply flex w-full justify-center bg-transparent text-cta text-black font-bold px-12 py-20 border border-stroke rounded
}
